<h1>{{image.url}}</h1>


<div style="width: 100%;">
    <div style="width: 60%; float: left;">
        <img src="{{image.url}}" width="500" height="600"/>
    </div>
    <div style="width: 30%; float: left;">
        <p>Score:{{image.votes}}</p>
        
        
        <form action="{% url 'polls:upvote' image.id %}" method="POST">
            {% csrf_token %}
            <input type="submit" value="vote up">            
        </form>


        <form action="{% url 'polls:downvote' image.id %}" method="POST">
                {% csrf_token %}
            <input type="submit" value="vote down">            
        </form>
       
        
    </div>

</div>
