<h1>Naslov aplikacije</h1>

{% if image_list %}
    <div style="width: 100%">
    {% for image in image_list%}
        <div style="width: 30%; float: left;">
        
        
        <a href="{% url 'polls:detail' image.id %}">
            <img src="{{image.url}}" width="250" height="300"> <small>{{image.pub_date}}</small>
            
        </a>
        </div>
    {% endfor %}
    </div>
{% else %}
    <h3>nema ucitanih slika</h3>
{% endif %}

